<!DOCTYPE html>
<body>
 <h1>ES bank Query Test!.</h1>
 <form method="post" action="/">
	<table>
	<tr>
		<td><p>query</p></td>
  	<td><input type="text" name="input1" value="<%= query %>"></td>
	</tr>
	<tr>
	<td>fields</td>
	<td><input type="text" name="input2" value="<%= fields %>"></td>
	</tr>
	</table>
  <input type="submit">
 </form>
 <br><br>
 <div>
 	<%= content %>
 </div>
</body>
